body {
  font-family: Arial, sans-serif;
  background-image: url("backgroung.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: 0.5;
}

footer {
  text-align: center;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

#Intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#Intro h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

#Intro img {
  width: 400px;
  height: 400px;
  border-radius: 100px;
  margin-bottom: 20px;
}

#Education {
  padding: 50px;
}

#Education h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

#Education table {
  width: 100%;
  margin-top: 20px;
}

#Education th,
#Education td {
  padding: 10px;
  text-align: left;
}

#Hobbies {
  padding: 50px;
}

#Hobbies h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

#Hobbies ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

#Contact {
  padding: 50px;
}

#Contact h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

#Contact form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 20px;
}

#Contact label,
#Contact input[type="submit"] {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

#Contact textarea {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

footer p {
  margin: 0;
}

div {
  color: black;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  border-width: 300px;
  box-sizing: border-box;
  border-radius: 5mm;
}

address {
  font-size: 50px;
  margin-right: 10px;
  display: inline-block;
}
nav {
  background-color: #333;
  color: rgb(7, 7, 7);
}
.navbar-nav li {
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
}

.navbar-nav a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.navbar-nav a:hover {
  background-color: #333333;
  color: rgb(0, 0, 0);
}
